<div class="bottom-section">
  <div class="bottom-holder">
    <div class="bottom-heading">
      Our Products that Embrace Modern Living with Style.
    </div>
    <img src="../../assets/logo/antique.png" class="antiqueTri" />
  </div>

  <div class="btn-bottom-hold">
    <div class="btn-bottom table-h"
    (click)="  handleImageCategory('table')"
    >
      <img src="../../assets/logo/talbe.png" class="tablelogo" 
      
      />

      Table Collection
    </div>

    <div class="btn-bottom  chair-h"
    (click)="  handleImageCategory('chair')"
    >
      <img src="../../assets/logo/chair.png" class="chairlogo" />

      Chair Collection
    </div>

    <div class="all-btn-bottom"
        (click)="  handleImageCategory('all')"
    >All</div>
  </div>

  <div class="image-holder-box">
    <div class="row-img-holder">
      <div
     
     

        class="imgbox-bottom"
      >
      <img src={{imagePathholder[0]}} class='img-hanlder-bottom' [@fadebottom]="animationState1"   />
    </div>
      <div
     
        class="imgbox-bottom"
      >
      <img src={{imagePathholder[1]}} class='img-hanlder-bottom' [@fadebottom]="animationState1"   />

    </div>
    </div>

    <div
  
    class="imgbox-main-bottom"
  >
  <img src={{imagePathholder[2]}} class='main-img-hanlder-bottom' [@fadebottom]="animationState1"   />

</div>

  <div class="row-img-holder">
    <div
 
      class="imgbox-bottom"
    >
    <img src={{imagePathholder[3]}} class='img-hanlder-bottom' [@fadebottom]="animationState1"   />

  </div>
    <div
  
      class="imgbox-bottom"
    >
    <img src={{imagePathholder[4]}} class='img-hanlder-bottom' [@fadebottom]="animationState1"   />

  </div>
  </div>
  

  </div>


<div class="last-text">
   
    WHY LATE HURRY UP
    <div class="txt"> PURCHASE </div>YOUR <div class="txt">BEST</div> 
    ONE FROM OUR 
    <div class="txt">CREATIVE</div>
     COLLECTION
     WE ARE WAITING
   

</div>
<div class="small-footer">
    <div class="boxes">
        <div class="box"></div>
        <div class="box bx2"></div>
        <div class="box bx3"></div>
        <div class="box bx4"></div>
        <div class="logo">Hoddy</div>
      </div>
      Copyright {{"&#169;"}}  2024 Hoddy.
</div>

</div>
