<div class="main-body">


  <div class="home-holder">
    <div class="boxes">
      <div class="box"></div>
      <div class="box bx2"></div>
      <div class="box bx3"></div>
      <div class="box bx4"></div>
      <div class="logo">Hoddy</div>
    </div>
    
    <div class="home-left">
    
      <div class="lefthome-widget-controller">
        <div class="bold-text-home">
          Standard Table and Chair
          <img
            src="../../assets/logo/image-removebg-preview.png"
            class="star"
          />
          Collections for a Comfortable Studying.
        </div>

        <div class="home-left-subtxt">
          <img src="../../assets/logo/arrow.png" class="arrow" /> Incorporation
          vibrant and playful designs, the Standard children Book Table adds a
          touch of fun to study sessions, transforming them into enjoyable
          experiences.
        </div>
        <div class="button-homeleft">
          Go to Shop
          <div class="img-hold">
            <img src="../../assets/logo/cart.png" class="cart" />
          </div>
        </div>
      </div>
    </div>
    <div class="home-right">
        <div class="box-image-home-right">
            <div class="circle-holder">
              
                
                <div class="c2">
                  <img src="../../assets/logo/bag.png" class="bag" />
                </div>
                <div class="cirlce">
                    <img src="../../assets/logo/ham burger.png" class="hamburger" />
                </div>
            </div>

 
            <img src={{imagePath}} class="mainphoto" [@fadeAnimation]="animationState"  />
         <div class="crc-img">
            <div class="cirlceArrow" >
                <img src="../../assets/logo/arrowRotated.png" class="arrowRoated" />
            </div>
            <div class="images-holder">
                <div class="img-small"   (click)="handleNumberChange(26,1)">
                    <img src="../../assets/images/furniture-dining-table-icon-3d-illustration-png.png" class="smallphoto" />
                </div>
                <div class="img-small" (click)="handleNumberChange(50,2)">
                    <img src="../../assets/images/pngtree-watercolor-illustration-of-old-rusty-green-table-png-image_11555732.png" class="smallphoto" />
                </div>

                <div class="img-small" (click)="handleNumberChange(5,3)">
                    <img src="../../assets/images/Table-PNG-HD.png" class="smallphoto" />
                </div>
            </div>
         </div>

         <div class="amountCircle">${{amount}}  

            <div class="smalltxt">Only</div>
         </div>
        </div>
    </div>
  </div>
  <bottom/>
</div>
